<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body>
    
    <!-- Per avviare Vue  -->
    <div id="root">
        <div class="sfondo py-5">
            <div class="container bg-white h-100">
                <div class="row h-100">
                    <div class="col-4 h-100 d-flex flex-column align-content-between">
                        <!-- colonna sinistra -->
                        <!-- prima sezione utente -->
                        <div class="d-flex justify-content-between p-3 bg_biancosporco border-end border-2 border_profilo">
                            <div class="d-flex align-items-center">
                                <img src="./assets/IMG/avatar_io.jpg" alt="La mia immagine di profilo" class="rounded-circle img-profile me-3">
                                <span class="fs-5">Sofia</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-circle-notch mx-2 fa-xl icone_chiare"></i>
                                <i class="fa-solid fa-message mx-2 fa-xl icone_chiare"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-2 fa-xl icone_chiare"></i>
                            </div>
                        </div>
                        <!-- seconda sezione con notifiche -->
                        <div class="d-flex align-items-center bg_celeste p-3">
                            <div class="bg-white rounded-circle p-2 me-3">
                                <i class="fa-solid fa-bell-slash text_celeste"></i>
                            </div>
                            <div>
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a class="text-secondary" href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- cerca -->
                        <div class="input-group input-group-sm p-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass icone_chiare"></i></span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <!-- parte dinamica delle chat  -->
                        
                        <ul class="list-group list-group-flush h-75 overflow-y">

                            <!-- elemento reso dinamico -->
                            <li class="d-flex justify-content-between p-3 list-group-item border-bottom" v-for="(contact, index) in contacts" role="button" @click="changeContactsIndex(index)">
                                <div class="d-flex align-items-start">
                                    <img :src="'./assets/IMG/avatar' + contact.avatar + '.jpg'" alt="profilo" class="rounded-circle img-profile me-3">
                                    <div class="d-flex flex-column">
                                        <span class="fs-5">{{contact.name}}</span>
                                        <span class="text-secondary">Ultimo messaggio inviato</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start">
                                    <span class="fs-6 icone_chiare">12:00</span>
                                    
                                </div>
                            </li>
                        </ul>
                        
                    </div>

                    <!-- Colonna destra  -->
                    <div class="col-8 h-100 d-flex flex-column justify-content-between align-content-between">
                        <div class="d-flex justify-content-between p-3 bg_biancosporco">
                            <div class="d-flex align-items-center">
                                <img :src="`./assets/IMG/avatar${contacts[indexChanged].avatar}.jpg`" alt="profilo" class="rounded-circle img-profile me-3">
                                <div class="d-flex flex-column">
                                    <span class="fs-5">{{contacts[indexChanged].name}}</span>
                                    <span class="text-secondary">Ultimo accesso oggi alle 12:00</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-magnifying-glass mx-2 icone_chiare fa-xl"></i>
                                <i class="fa-solid fa-paperclip mx-2 icone_chiare fa-xl"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-2 icone_chiare fa-xl"></i>
                            </div>
                        </div>

                        <!-- contenuto delle chat  -->
                        <div class="sfondo-chat p-3 flex-fill overflow-y">
                            <ul class="list-group list-group-flush d-flex flex-column">

                                <!-- stampa dinamica dei messaggi  -->
                                <li class="list-group-item rounded-5 mb-3 d-flex flex-column" v-for="(contact, index) in contacts[indexChanged].messages" :class="(contact.status == 'sent') ? 'align-self-end sent' : 'align-self-start received'">
                                    <span class="fs-5">{{contact.message}}</span>
                                    <span class="align-self-end icone_chiare">{{contact.date}}</span>
                                </li>

                            </ul>
                        </div>

                        <!-- area dell'input del messaggio  -->
                        <div class="input-group input-group-sm p-2 d-flex align-items-center bg_footer">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-regular fa-smile icone_scure fa-xl px-2 py-1"></i></span>
                            </div>
                            <input type="text" v-model="myMessage" @keyup.enter="sendNewMessage(indexChanged)" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            <div class="d-flex justify-content-center">
                                <i class="fa-solid fa-microphone p-3 icone_scure fa-xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CDN di day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- per reggere il baraccone di Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- collegamento al main.js  -->
    <script type="text/javascript" src="./assets/JS/main.js"></script>
</body>
</html>